.user-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.div1 {
    background-color: white;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}